.bac{
    background-image: url('/imgs/bac.jpg');
    background-size: "cover";
    height:100vh;
    margin-top: 70px;
    background-repeat:no-repeat;
  }
  
  /* Style the table */
  .responsive-table {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    border-collapse: collapse;
    background-color: #fff; /* Table background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  /* Caption styling */
  .responsive-table caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    background-color: #333; /* Caption background color */
    color: #fff; /* Caption text color */
    text-align: center;
  }
  
  /* Table header */
  .styled-table thead {
    background-color: #333; /* Header background color */
    color: #fff; /* Header text color */
  }
  
  /* Table header cells */
  .styled-table th {
    padding: 10px;
    text-align: left;
  }
  
  /* Table rows */
  .styled-table tbody tr {
    border-bottom: 1px solid #ccc;
  }
  
  /* Table data cells */
  .styled-table td {
    padding: 10px;
  }
  
  /* Loading and error messages */
  .loading-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-error div {
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  